.messages {
  height: 71vh;
  overflow-y: auto;
  width: 100%;
  padding: 1em 0em 1em 0em;
}

.msgtest{
  animation: fadeIn 0.1s ease-in !important;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.welcome-div{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.welcome-msg{
  color: #3f51b5;
  font-size: 0.9rem;
  box-shadow: 0px 0.6px 5px 0px #e4e4e4;
  width: fit-content;
  padding: 0.2rem 1rem 0.2em 1rem;
  border-radius: 5rem;
}

/* ///////////////////////////////////////////// 780 ////////////////////////////////// */

@media only screen and (min-width:  767px){
  .messages {
    height: 80vh;
    overflow-y: auto;
    width: 100%;
    padding: 1em 0em 1em 0em;
  }
}

/* ///////////////////////////////////////////// 1024 ////////////////////////////////// */
  
  @media only screen and (min-width:  1024px){
    .messages {
      height: 85vh;
      overflow-y: auto;
      width: 90%;
      padding: 1em 0em 1em 0em;
    }
}
  
/* ///////////////////////////////////////////// 1200 ////////////////////////////////// */
  
  @media only screen and (min-width: 1200px){
    .messages {
      height: 74vh;
      overflow-y: auto;
      width: 90%;
      padding: 1em 0em 1em 0em;
    }
}