.chat__window{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}

.chatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

/* Scrollbar configuration */

::-webkit-scrollbar {
  width: 5px;
  /* margin: 15px; */
  -webkit-box-shadow: inset 0 0 6px #ffffff00; 
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ffffff00; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px #ffffff00; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0);
}

/* ///////////////////////////////////////////// 780 ////////////////////////////////// */

@media only screen and (min-width:  767px){

}


/* ///////////////////////////////////////////// 1024 ////////////////////////////////// */
  
  @media only screen and (min-width:  1024px){

  }

  
/* ///////////////////////////////////////////// 1200 ////////////////////////////////// */
  
  @media only screen and (min-width: 1200px){
    .chat__window{
      display: flex;
      width: 100vw;
      background-color: white;
    }
    
    .chatContainer {
      width: 80vw;
      min-width: 400px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: #f6f6f6;
    }
    
    /* Scrollbar configuration */
    /* width */
    ::-webkit-scrollbar {
      width: 5px;
      margin: 15px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #ffffff00; 
      border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 10px #aaaaaa; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

