.sidePannelContainer{
  width: 20vw;
  min-width: 200px;
  height: 100vh;
}

.sidePannelTitle{
  text-align: left;
  border-right: solid 0.01rem #ffffff45;
  border-bottom: solid 0.5px #eaeaea;
  padding: 1vh 3vh 1vh 3vh;
  color: white;
  background-color: #3f51b5;
  font-size: 1.3rem;
  height: 5vh;
  display: flex;
  align-items: center;
}


