.googleLogin-container{
  height: 100vh;
  width: 100%;  
  display: flex;
}
.googleLogin__content{
  height: 80vh;
  padding: 2rem;
}

.googleLogin__right-title{
  color: white;
  text-align: center;
  font-size: 2rem;
}

.googleLogin__left{
  width: 65%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleLogin__img{
  width: 60%;
}

.googleLogin__right{
  width: 35%;
  height: 100vh;
  background-color: #543fb5;
  box-shadow: 7px 0px 19px 9px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.googleLogin__icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  margin-top: 4%;
}

.icon{
  font-size: 2.5rem;
  color: white;
  transition: all 0.5s ease;
}

.icon:hover{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  font-size: 2.7rem;
  /* margin-top: 4%; */
  color: rgb(238, 103, 103);
}

.googleLogin__lgoogle_button span{
  background-color: white !important;
  color: #543fb5 !important;
  /* flex-grow: 1; */
}
.googleLogin__lgoogle_button{
  background-color: white !important;
  margin-bottom: 4rem;
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}

.googleLogin__right-text{
  color: white;
  display: flex;
  flex-direction: column;
}

.googleLog__fotter{
  color: #ffffffba;
  font-size: 0.9rem;
}

.googleLog__fotter a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.googleLog__fotter a:hover{
  text-decoration: none;
  color: rgb(238, 103, 103);
}